@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,400&family=Roboto:wght@300&display=swap');

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Montserrat',
    sans-serif;
  text-align: center;
  margin-bottom: 0.25em;
  color: rgb(78, 77, 77)
}

h2 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.25em;
  font-family: 'Montserrat',
    sans-serif;
  letter-spacing: 1.4px;
  margin: 0 auto;
}

h4 {
  padding: 1.75em;
  text-align: center;
  font-size: 1.1em;
}

p {
  font-family: 'Roboto',
    sans-serif;
  line-height: 1.4;
  text-align: center;
}

img {
  display: block;
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

/* label {
  text-align: center;
  font-family: 'Roboto',
    sans-serif;
  display: block;
} */

input {
  display: block;
  width: 100%;
  max-width: 550px;
  margin: 1em auto 1.25em auto;
  padding: 0.75em;
  border-radius: 3px;
  border: 1px solid gray;
  text-align: center;
  font-family: 'Montserrat',
    sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

button {
  display: block;
  width: 100%;
  max-width: 550px;
  border-radius: 3px;
  border: rgb(252, 196, 138) 1px solid;
  padding: 0.75em 1.25em;
  background-color: rgb(252, 196, 138);
  margin: 0 auto;
  color: rgb(78, 77, 77);
  font-family: 'Montserrat',
    sans-serif;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  font-family: 'Montserrat',
    sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  width: 100%;
}