<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/app.css">
  <title>MadLibs</title>
</head>

<body>
  <h2>The Original #1 Mad Libs</h2>
  <header>
    <img src="https://www.9yahds.com/content/uploads/2015/05/midlib3.png" alt="MadLibs Logo">
  </header>
  <main>

    {% block content %}{% endblock %}

  </main>
  <footer>
    <h4>A super silly way to fill in the ______________!</h4>
  </footer>
</body>

</html>